@import 'global/variables';
@import 'components/breakpoint';
.cand{
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
.container {
  height: auto;
  display: flex;
  justify-content: center;
  background: $lightGray;
  .form{
    height: auto;
    width: 45%;
    padding: 20px 30px;
    margin: 30px 0px;
    background-color: $light;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    box-sizing: border-box;
    h2 {
      text-align: center;
    }
    .personal, .contact-info, .sign-up, p {
      width: 100%;
      margin-top: 10px;
      @import 'components/input';
    }
    .personal {
      display: flex;
      gap: 10px;
      .first, .last {
        input {
          height: 40px;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
    .contact-info {
      input {
        box-sizing: border-box;
        height: 40px;
        width: 100%;
      }
      button {
        width: 100%;
        input[type="file"] { 
          color: rgba(0, 0, 0, 0);
          opacity:0
        }
      }
    }
    .choose {
      div {
        height: 32px;
        border: 4px solid $maincolor;
        border-radius: 10px;
        display: flex;
        align-items: center;
        label {
          margin-left: 8px;
          font-size: 1.1rem;
          color: gray;
        }
      }
    }
    .upload {
      input {
        border: none;
        margin-top: 5px;
      }
    }
    .check {
      margin-top: 10px;
    }
    .sign-up {
      button {
        width: 100%;
      }
    }
    p {
      text-align: center;
      a {
        text-decoration: none;
        font-weight: bold;
        color: $primary;
        &:hover {
          color: $subcolor;
        }
      }
    }
  }
  @include responsive('tablet') {
    .form {
      flex-basis: 60%;
    }
  }
  @include responsive('mobile') {
    .form {
      flex-basis: 95%;
    }
  }
}