$subtext : Roboto, Hanuman, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
$maincolor : #631EF6;
$subcolor : #222E39;
$lightGray : #e1e1e1df;
$dark : #000000;
$light : #FFFFFF;
$primary : rgb(4, 232, 4);